# MongoDB and `pymongo`
I wanted to try and store the responses from the API calls in a singular place, engineering a structure that allows for easier access and querying. I thought that I would give `pymongo` a try to learn some more about the process and try to create a structure for storing multiple API call responses in a single place.

Basic guide to MongoDB in Python can be found [here](https://www.mongodb.com/blog/post/getting-started-with-python-and-mongodb).

In [20]:
from random import randint
import pandas as pd
import pymongo 
import os

Use conda environment to store the details for MongoDB.

In [7]:
mongodb_password = os.environ.get("mongodb_password")
mongodb_user = os.environ.get("mongodb_user")

Use the tutorial example given [here](https://www.mongodb.com/blog/post/getting-started-with-python-and-mongodb) to generate some fake results.

In [8]:
client = pymongo.MongoClient("mongodb+srv://" + mongodb_user + ":" + mongodb_password + "@basiccluster-6s0er.mongodb.net/test?retryWrites=true&w=majority")
db = client.test

# Step 2: Create sample data
names = ['Kitchen','Animal','State', 'Tastey', 'Big','City','Fish', 'Pizza','Goat', 'Salty','Sandwich','Lazy', 'Fun']
company_type = ['LLC','Inc','Company','Corporation']
company_cuisine = ['Pizza', 'Bar Food', 'Fast Food', 'Italian', 'Mexican', 'American', 'Sushi Bar', 'Vegetarian']

In [12]:
for x in range(1, 11):
    business = {
        'name' : names[randint(0, (len(names)-1))] + ' ' + names[randint(0, (len(names)-1))]  + ' ' + company_type[randint(0, (len(company_type)-1))],
        'rating' : randint(1, 5),
        'cuisine' : company_cuisine[randint(0, (len(company_cuisine)-1))] 
    }
    # Step 3: Insert business object directly into MongoDB via isnert_one
    result=db.reviews.insert_one(business)

In [50]:
db.reviews.find_one()

{'_id': ObjectId('5dbf00053c8fe0cd8642a28b'),
 'name': 'State Sandwich Company',
 'rating': 5,
 'cuisine': 'Pizza'}

In [51]:
pd.DataFrame(list(db.reviews.find()))

                          _id                     name  rating     cuisine
0    5dbf00053c8fe0cd8642a28b   State Sandwich Company       5       Pizza
1    5dbf00053c8fe0cd8642a28c         State Animal Inc       1   Sushi Bar
2    5dbf00053c8fe0cd8642a28d             Lazy Fun Inc       3   Sushi Bar
3    5dbf00053c8fe0cd8642a28e            Lazy City LLC       1    American
4    5dbf00053c8fe0cd8642a28f    Fun Salty Corporation       4     Italian
..                        ...                      ...     ...         ...
505  5dbf026bc96ca4e63d11fd3a   Fish Pizza Corporation       1   Fast Food
506  5dbf026bc96ca4e63d11fd3b   Pizza Goat Corporation       2   Sushi Bar
507  5dbf026bc96ca4e63d11fd3c    Sandwich Lazy Company       4  Vegetarian
508  5dbf026bc96ca4e63d11fd3d          Pizza State LLC       5       Pizza
509  5dbf026bc96ca4e63d11fd3e  Animal City Corporation       5     Mexican

[510 rows x 4 columns]

Filter the collection following examples [here](https://www.w3schools.com/python/python_mongodb_query.asp).

In [52]:
five_star_reviews = db.reviews.find({'rating': 5})

In [53]:
pd.DataFrame(list(five_star_reviews))

                          _id                     name  rating     cuisine
0    5dbf00053c8fe0cd8642a28b   State Sandwich Company       5       Pizza
1    5dbf00053c8fe0cd8642a297       Fun Tastey Company       5     Italian
2    5dbf00053c8fe0cd8642a298     Kitchen Fish Company       5   Fast Food
3    5dbf00053c8fe0cd8642a29c           Tastey Big Inc       5    American
4    5dbf00063c8fe0cd8642a2a4           Fish Salty Inc       5     Mexican
..                        ...                      ...     ...         ...
105  5dbf026bc96ca4e63d11fd37             Fish Fun LLC       5  Vegetarian
106  5dbf026bc96ca4e63d11fd38       Kitchen Tastey Inc       5     Mexican
107  5dbf026bc96ca4e63d11fd39            City Fish LLC       5       Pizza
108  5dbf026bc96ca4e63d11fd3d          Pizza State LLC       5       Pizza
109  5dbf026bc96ca4e63d11fd3e  Animal City Corporation       5     Mexican

[110 rows x 4 columns]